* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

label, p {
    padding: 5px;
    color: whitesmoke;
    text-shadow: 0 0 5px gray, 0 0 5px gray, 0 0 5px gray;
}

.wrapper {
    background-color: #c8c8c8;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 45vw;
    border-radius: 4px;
}
input{
    width: 40vw;
    text-align: center;
    text-transform: uppercase;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
select{
    appearance: none;
    width: 40vw;
    text-align: center;
    text-transform: uppercase;
}